# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
node_report.csv
v8.log

# Dependency directories
node_modules/
jspm_packages/

# Tailwind CSS
.tailwind

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*
.env.test
.env.production
.env.local
!.env.example

# Vercel
.vercel

# Testing
coverage/

# Production build directories
dist/
build/
out/

# OS metadata
.DS_Store
Thumbs.db
